.service {
  margin-top: 100px;

  &-inner {
    margin-top: 50px;
    &__image {
      img {
        width: 96px;
        height: 96px;
      }
    }
    &__title {
      font-size: 20px;
      font-weight: bold;
    }
    &__desc {
      font-weight: 300;
      opacity: 0.7;
    }
  }
}
