.ecosys {
  margin-top: 100px;
  &-box {
    &__title {
      margin-bottom: 32px;
      h3 {
        margin-bottom: 15px;
      }
    }
    &__title {
      text-align: center;
    }
  }
  &-title {
    h2 {
      font-size: 32px;
    }
  }
  &-image {
    img {
      width: 800px;
    }
  }
}

// 768
@media (max-width: 768px) {
  .ecosys {
    &-title {
      h2 {
        font-size: 28px;
      }
    }
    &-info {
      align-items: center;
      p {
        gap: 34px;
        text-align: center;
      }
    }
    &-box {
      width: 100%;
    }
    &-inner {
      flex-direction: column;
    }
    &-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 600
@media (max-width: 600px) {
  .ecosys {
    &-title {
      h2 {
        font-size: 28px;
      }
    }
    &-info {
      align-items: center;
      p {
        gap: 34px;
        text-align: center;
      }
    }
    &-box {
      width: 100%;
    }
    &-inner {
      flex-direction: column;
    }
    &-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 480
@media (max-width: 480px) {
  .ecosys {
    &-title {
      h2 {
        font-size: 28px;
      }
    }
    &-info {
      align-items: center;
      p {
        gap: 34px;
        text-align: center;
      }
    }
    &-box {
      width: 100%;
    }
    &-inner {
      flex-direction: column;
    }
    &-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 320
@media (max-width: 320px) {
  .ecosys {
    &-title {
      h2 {
        font-size: 28px;
      }
    }
    &-info {
      align-items: center;
      p {
        gap: 34px;
        text-align: center;
      }
    }
    &-box {
      width: 100%;
    }
    &-inner {
      flex-direction: column;
    }
    &-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
