.ecosys {
  margin-top: 100px;
  &-box {
    &__title {
      margin-bottom: 32px;
      h3 {
        margin-bottom: 15px;
      }
    }
    &__title {
      text-align: center;
    }
  }
  &-title {
    h2 {
      font-size: 32px;
    }
  }
  &-image {
    img {
      width: 800px;
    }
  }
}
