.price-section {
  background-color: #ffffff10;
  border-radius: 16px;
}

.price-box {
  border-bottom: 1px solid #ffffff42;
  padding: 32px;
}
.price-box,
.price-inner > .row {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
}
.price-inner {
  padding: 16px 32px 32px 32px;
}

.name {
  display: flex;
}
span {
  display: block;
}
.green {
  color: var(--c200);
}
.red {
  color: var(--c300);
}
.price-parcent {
  background-color: orange;
  width: 55px;
  text-align: center;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
}
