.price {
  &-section {
    background-color: #ffffff10;
    border-radius: 16px;
  }
  &-box {
    border-bottom: 1px solid #ffffff42;
    padding: 32px;
  }
  &-box,
  &-inner > .row {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  }
  &-inner {
    padding: 16px 32px 32px 32px;
  }
}

.name {
  display: flex;
}
span {
  display: block;
}
.green {
  color: var(--c200);
}
.red {
  color: var(--c300);
}

// 768
@media (max-width: 768px) {
  .price {
    &-section {
      width: 100%;
      border-radius: 11px;
    }
    &-box {
      padding: 9px;
      font-size: 12px;
    }
    &-inner {
      padding: 16px 20px 16px 9px;
    }
  }
  .image {
    img {
      width: 25px;
    }
  }
}

// 600
@media (max-width: 600px) {
  .price {
    &-section {
      width: 100%;
      border-radius: 11px;
    }
    &-box {
      padding: 9px;
      font-size: 12px;
    }
    &-inner {
      padding: 16px 20px 16px 9px;
    }
  }
  .image {
    img {
      width: 25px;
    }
  }
}

// 480
@media (max-width: 480px) {
  .price {
    &-section {
      width: 100%;
    }
    &-box {
      padding: 9px;
      font-size: 12px;
    }
    &-inner {
      padding: 16px 20px 16px 9px;
    }
  }
  .image {
    img {
      width: 25px;
    }
  }
  .name {
    width: 106px;
  }
  span {
    font-size: 10px;
  }
  .short {
    font-size: 8px;
  }
  .gap-1 {
    gap: 8px;
  }
}

// 320
@media (max-width: 320px) {
  .price {
    &-section {
      width: 100%;
    }
    &-box {
      padding: 9px;
      font-size: 12px;
    }
    &-inner {
      padding: 16px 20px 16px 9px;
    }
  }
  .image {
    img {
      width: 25px;
    }
  }
  .name {
    width: 106px;
  }
  span {
    font-size: 10px;
  }
  .short {
    font-size: 8px;
  }
  .gap-1 {
    gap: 8px;
  }
}
